{% extends "main.html" %} {% block content %}

<article class="recipe-holder" ondrop="drop(event)" ondragover="allowDrop(event)">
  <h2>Recipes</h2>
{% for recipe in recipes %}

<div id="recipe-{{ recipe.id }}" style="display: inline-block;" draggable="true" ondragstart="drag(event)">
    <article>
      <h3>{{ recipe.name }}</h3>
      <h6>{{ recipe.time_minutes }}m</h6>
    </article>
</div>
{% endfor %} 
</article>

<hr>

<div class="container">
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Monday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Tuesday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Wednesday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Thursday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Friday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Saturday</h3>
  </article>
  <article class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Sunday</h3>
  </article>
</div>

<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    parent = ev.target.closest(".recipe-holder")
    parent.appendChild(document.getElementById(data));
  }
</script>

{% endblock content %}
