{% extends "main.html" %} {% block content %}

<article id="not-selected" class="recipe-holder" ondrop="drop(event)" ondragover="allowDrop(event)">
<h2>Recipes</h2>
{% for recipe in recipes %}

<div class="{{ recipe.id }} recipe" style="display: inline-block;" draggable="true" ondragstart="drag(event)">
    <article>
      <h3>{{ recipe.name }}</h3>
      <h6>{{ recipe.time_minutes }}m</h6>
      <a href="recipe/{{ recipe.id }}">
        <button>View</button>
      </a>
    </article>
</div>
{% endfor %} 
</article>

<hr>

<div class="container days-containers">
  <article id="monday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Monday</h3>
  </article>
  <article id="tuesday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Tuesday</h3>
  </article>
  <article id="wednesday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Wednesday</h3>
  </article>
  <article id="thursday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Thursday</h3>
  </article>
  <article id="friday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Friday</h3>
  </article>
  <article id="saturday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Saturday</h3>
  </article>
  <article id="sunday" class="recipe-holder" style="display: inline-block" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Sunday</h3>
  </article>
</div>

<hr>
<button id="get_shopping_list_button" hx-post="/recipes/create-shopping-list" hx-target="#shopping-list" hx-vals='{"json": [{"test": 1}, {"test": 2}]}'>Generate Shopping List!</button>
<div id="shopping-list"></div>

<script>
function deleteRecipe(ev) {
  ev.parentElement.parentElement.remove()
}

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.className);
  ev.dataTransfer.setData("originalParentId", ev.target.parentElement.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  parent = ev.target.closest(".recipe-holder");
  droppedElements = document.getElementsByClassName(data);
  for (let element of droppedElements) {
    if (element.parentElement.id == ev.dataTransfer.getData("originalParentId")) {
      realDroppedElement = element;
    }
  }

  if (ev.dataTransfer.getData("originalParentId") == "not-selected") {
    notSelectedArticle = document.getElementById("not-selected");
    notSelectedArticle.appendChild(realDroppedElement.cloneNode(true));
  }

  if (realDroppedElement.getElementsByClassName("delete-button").length == 0) {
    deleteButton = document.createElement("button");
    deleteButton.innerHTML = "Delete";
    deleteButton.setAttribute("onclick", "deleteRecipe(this)");
    deleteButton.setAttribute("class", "delete-button");
  }

  parent.appendChild(realDroppedElement);

  article = realDroppedElement.querySelector("article");
  article.appendChild(deleteButton);
}

document.body.addEventListener("htmx:configRequest", function (evt) {
  if (evt.detail.path == "/recipes/create-shopping-list") {
    recipes_collection = document.getElementsByClassName("recipe");
    recipes = [].slice.call(recipes_collection)
    selected_recipe_ids = [];
    recipes.forEach(element => {
      parent_recipe_holder = element.parentElement;
      // Pick up only the recipes that have been moved from the not-selected box.
      if (parent_recipe_holder.id != "not-selected") {
        console.log(element.className);
        selected_recipe_ids.push(parseInt(element.className, 10))
      }
    })
    evt.detail.parameters["recipe_ids"] = selected_recipe_ids.join(",");
  }
});
</script>

{% endblock content %}
